@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

b{
	font-size: 1.25rem;
	font-weight: bold;
}

#chapter-33 blockquote p:first-child{
	border-bottom: 1px solid;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#chapter-33 blockquote p:last-child{
	border-top: 1px solid;
	margin-top: 1em;
	padding-top: 1em;
}
